<form accept-charset="UTF-8" action="/home" class="new_q" id="new_user" method="post">
	<label for="user_email">E-mail</label>
  	<input id="user_email" name="user[name]" type="text" />
 	 <label for="user_q">Вопрос</label>
 	 <input id="user_q" name="user[email]" type="text" />
  	<input class="btn btn-large btn-primary" name="commit" type="submit"
         value="Задать вопрос" />
</form>



<div class="center hero-unit">
	<%= link_to image_tag("yy.png", alt: "stackoverflow"), 'http://stackoverflow.com/' %>
  	<h1>Questions, please.</h1>

  	<h2>
    Попытка создания аналога сайта 
    <a link_to="http://stackoverflow.com/">Stackoverflow</a>
   	</h2>
	<%= link_to "Sign up", '#', class: "btn btn-large btn-primary" %>
</div>
<form2 accept-charset="UTF-8" action="/home" class="new_a" id="new_user" method="post">
  	<label for="user_email">E-mail</label>
 	 <input id="user_email" name="user[name]" type="text" />
</form2>
<form3 accept-charset="UTF-8" action="/home" class="new_a" id="new_user" method="post">
  	<label for="user_a">Ответ</label>
  	<input id="user_a" name="user[email]" type="text" />
  	<input class="btn btn-large btn-primary" name="commit" type="submit"
  	 value="Ответить" />
</form3>


