<% @question ||= current_question %>
<div class="stats">
  <a href="<%= dislike_question_path(@question) %>">
    <strong id="dislike" class="stat">
      <%= @question.dislike_questions.count %>
    </strong>
    -1
  </a>
  <a href="<%= like_question_path(@question) %>">
    <strong id="like" class="stat">
      <%= @question.like.count %>
    </strong>
    +1
  </a>
</div>