/* universal */
$grayMediumLight: #eaeaea;


/* static elems */
@mixin box_sizing {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  background-color: #E4E2DD; 
} 

html {
  overflow-y: scroll;
}

body {
  padding-top: 3px;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
}

.center h1 {
  margin-bottom: 10px;
}

/*menu*/
nav ul li{
	display : inline-block;
}
nav ul a {
	display : block;
	text-decoration:none;
	padding:3px 6px;
}
/* typography */

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
}

h2 {
  font-size: 1.2em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  color: #999;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
}
/* header */

#logo {
  float: left;
  margin-right: 5px;
  font-size: 2.1em;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: -1px;
  padding-top: 9px;
  font-weight: bold;
  line-height: 1;
}

#logo:hover {
  color: #9597EF;
  text-decoration: none;
}


/* footer */

footer {
  margin-top: 15px;
  padding-top: 5px;
  border-top: 1px solid #eaeaea;
  color: #999;
}

footer a {
  color: #555;
}

footer a:hover {
  color: #222;
}

footer small {
  float: left;
}

footer ul {
  float: right;
  list-style: none;
}

footer ul li {
  float: left;
  margin-left: 10px;
}
/* forms */


form3 #user_a input{
border: 1px solid #4BA0CE ;
  width: 100%;
  margin-bottom: 35px;
  height: 135px;
}

 input {
  border: 1px solid #4BA0CE ;
  width: 100%;
  margin-bottom: 35px;
  height: 35px;
}
#error_explanation {
  color: #f00;
  ul {
    list-style: none;
    margin: 0 0 18px 0;
  }
}

/* miscellaneous */

.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  @include box_sizing;
}
/* sidebar */

aside {
  section {
    padding: 10px 0;
    border-top: 1px solid $grayMediumLight;
    &:first-child {
      border: 0;
      padding-top: 0;
    }
    span {
      display: block;
      margin-bottom: 3px;
      line-height: 1;
    }
    h1 {
      font-size: 1.4em;
      text-align: left;
      letter-spacing: -1px;
      margin-bottom: 3px;
      margin-top: 0px;
    }
  }
}
/* answers */

.answers {
  list-style: none;
  margin: 10px 0 0 0;

  li {
    padding: 10px 0;
  }
}
.content {
  display: block;
}
.timestamp {
  color: #8D8FAA;
}

aside {
  textarea {
    height: 500px;

    margin-bottom: 15px;
  }
}
.row .span4 {
  h1{
    text-align: center;
  }
  padding-top: 30px;
  text-align: center;
}

.imgCenter {
  text-align:center;
}


/* questions */

.questions {
  list-style: none;
  margin: 10px 0 0 0;

  li {
    padding: 10px 0;
  }
}
.content {
  display: block;
}
.timestamp {
  color: #8D8FAA;
}

aside {
  textarea {
    height: 200px;
    margin-bottom: 15px;
  }
}
h2{
    margin: 0;     
    color: #666;
    padding-top: 90px;
    font-size: 52px;
    font-family: "trebuchet ms", sans-serif;    
}
.item{
    background: #333;    
    text-align: center;
    height: 300px !important;
}
.carousel{
    margin-top: 20px;
}
.btn-black { 
    background-color:#969696; 
    color:#FFFFFF; 
} 